<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bassify</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">	
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div>
<div class="header">
<h1>Bassify</h1>
</div>
	<div class="pure-g controls">

	</div>

	<div class="pure-g main_window">
		<div class="pure-u-1-4 tracklist" ng-controller="TracklistController as trackctrl">
			<h3>Tracks</h3>
			<div ng-repeat="trackObj in trackctrl.tracks">
				<a href="#" class="pure-button pure-button-primary item">
					<h3 ng-bind="trackObj.trackName"></h3>
					<h5> by 
						 <span ng-repeat="artistObj in trackObj.artists">
							<strong ng-bind="artistObj.name + ', '"></strong>
						</span>
						on <em ng-bind="trackObj.album"></em>
					</h5>
				</a>	
			</div>
		</div>	
	<span ng-controller="PlaylistController as playlistctrl">
		<div class="pure-u-1-4 playlists">
			<h3>Playlists</h3>
			<div ng-repeat="playlistObj in playlistctrl.playlists">
				<a href="#" class="pure-button playlist item" ng-click="playlistctrl.getPlaylistTracks(playlistObj.uri)">
					<h3 ng-bind="playlistObj.name"></h3>
				</a>
			</div>
		</div>

		<div class="pure-u-1-4 playlist_tracks">
			<h3>Playlist Contents</h3>
			<div ng-repeat="playlistTrackObj in playlistctrl.currentTracks">
				<a href="#" class="pure-button pure-button-active item" ng-click="playlistctrl.addTrack(playlistTrackObj.uri)">
					<h3 ng-bind="playlistTrackObj.name"></h3>
				</a>
			</div>	
		</div>
	</span>

	</div>
</div>
	
	<script type="text/javascript" src="/mopidy/mopidy.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
