.header, .tracklist {
	text-align: center;
}

.tracklist .pure-button {
	width: 100%;
}

.tracklist .pure-button-primary {
	border-radius: 0px;
	border-width: 1px;
	border-color: #777;
	border-bottom-style: solid;
}