.header, .tracklist, .playlists, .playlist_tracks {
	text-align: center;
}

.item {
	width: 100%;
}

.tracklist .pure-button-primary {
	border-radius: 0px;
	border-width: 1px;
	border-color: #1e1e1e;
	border-bottom-style: solid;
}

.pure-button {
	overflow: hidden;
}